* , ::after , ::before {
    box-sizing: border-box;
}
body {
    background-color: #fcf4ed;
}
 a {
    cursor: pointer;
    text-decoration: none;
}
 a:hover {
    color: #000511;
}
.icon ion-icon {
    font-size: 1.5rem;
    color: #274393;
}
.title {
 
    font-size: 1rem;
    color: #274393;
    
}
.mains {
    position: relative;
    width:20rem ;
    height:300px;
    background-color: #274393;
    position: relative;
    top:150px;
    left: 500px;
    border-radius: 10px;
    padding: 25px;
    display: flex;
    justify-content: space-between;
}
.nv_medecin img{
   position: absolute;
   left: 5rem;
   top: 3rem;
    
}
.nv_medecin button {
    position: absolute;
    padding:  7px 25px;
    background-color: #f8edfc;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    transition: all 0.3 ease 0s ;
    bottom: 1rem;
    left: 8rem;
    color: #274393;
    
}
.nv_medecin button:hover {
    background-color:#000511;
    
    color: #f8edfc;
}
.form-date {
    margin-top: 1rem;
}
 h3 {
    font-weight: 400px;
    color: #f8edfc;
}
.form-date label {
    color: #fcf4ed;
    margin-left: 15px;
}
input[type="checkbox"] {
  margin-bottom: 1rem;
  color: #f8edfc;
}
input[type="date"]{
    background-color: #f8edfc;
    
    color: #274393;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}


.form-date2 input {
    position: absolute;
    top: 9rem;
    left: 4rem;
}

.nv_medecin2 img{
    position: absolute;
    left: 7rem;
    top: 3rem;
     
 }
.nv_medecin2 button {
     position: absolute;
     padding:  7px 25px;
     background-color: #f8edfc;
     border: none;
     border-radius: 45px;
     cursor: pointer;
     transition: all 0.3 ease 0s ;
     bottom: 1rem;
     left: 8rem;
     color: #274393;
     
 }
.nv_medecin2 button:hover {
     background-color:#000511;
     
     color: #f8edfc;
 }
.form-date2 label {
    position: absolute;
    color: #fcf4ed;
    top: 9.2rem;
    
}
.form-date2 button {
    position: absolute;
    left:12rem;
}
input[type="time"] {
    background-color: #f8edfc;
    
    color: #274393;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
}
.form-date2 a {
    text-decoration: none;
    text-decoration: none;
    padding:  5px 19px;
    background-color: #f8edfc;
    color: #274393;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s ;
    position: absolute;
    bottom: 1rem;
    
}

.form-date2 a:hover {
    background-color: #577fee;
}
.form-date3 {
   
   margin-top: 5rem;
}
.form-date3 a {
    text-decoration: none;
    text-decoration: none;
    padding:  5px 19px;
    background-color: #f8edfc;
    color: #274393;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s ;
    position: absolute;
    right: 13rem;
    top: 16rem;
   
    
}

.form-date3 a:hover {
    background-color: #577fee;
}
.form-date3 label {
    
    color: #fcf4ed;
    
    
}
.form-date3 button {
    position: absolute;
    left:12rem;
}
select {
    width: 150px;
    border-radius: 10px;
    background-color: #f8edfc;
}
input[type="checkbox"] {
    display: none;
}
.emploi {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-left: 0.5rem;

}
.emploi label {
    position: relative;
   
}
.emploi label::before {
    content: "";
    background: url(../img/icons8-ok.svg);
    background-position: center;
    background-size: contain;
    width: 25px;
    height: 25px;
    
    position: absolute;
    left: -28px;
    top: -4px;

    transform: scale(0) rotateZ(180deg);
    transition: all 0.4s cubic-bezier(0.54, 0.01, 0, 1.49);
}
 input[type="checkbox"]:checked + label::before{
    transform: scale(1) rotateZ(0deg);
}
.emploi label::after {
    content: "";
    border: 1px solid black;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -28px;
    top: -4px;
    border-radius: 50%;
}
