
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    
    border: 0;
    outline: 0;
}
body {
    font-family: 'Roboto Slab', serif;
    background-color: #f8edfc;
}

nav {
    background-color: #f8edfc;
    
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0.5rem;
}
nav ul {
    list-style: none;
}
.logo{
    margin-top: 5px;
}

.logo img {
    width: 20rem;
    height: 18rem;
    position: relative;
    top: 5px;
    
}
.nav_menu {
    display: flex;
    align-items: center;
    
}
.nav_item{
    margin: 0 8px;
}
.nav-link{
    padding: 10px;
}
.nav_menu a {
   color :#274393;
   font-family: 'Roboto Slab', serif;
}

.uil-bars,
.uil-multiply {
    display: none;
}
#a-button {
    color: #f8edfc;
}
button {
    padding:  9px 25px;
    background-color: #274393;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s ;
    
}
button:hover {
    background-color: #577fee;
}

header {
    height: 100vh;
    margin-left: 10px;
    background-color: #f8edfc;
   
}
.slider {
    width: 1200px;
    height: 600px;
   margin-left: 5rem;
    overflow: hidden;
    border-radius: 10px;
}
.slider img {
    height: 600px;
    width: 1200px;
}
.slides {
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input {
    display: none;
}
.slide {
    width: 20%;
    transition: 2s;
}
.manual {
    position: absolute;
    width: 800px;
    margin-top: 580px;
    left: 20% ;
    display: flex;
    justify-content: center;

}
.manual-btn{
    border: 2px solid #274393;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: #274393;
}
#radio1:checked ~ .first {
    margin-left: 0;
} 

#radio2:checked ~ .first {
    margin-left: -20%;
} 
#radio3:checked ~ .first {
    margin-left: -40%;
} 
#radio4:checked ~ .first {
    margin-left: -60%;
} 
#radio5:checked ~ .first {
    margin-left: -80%;
} 

.auto {
    position: absolute;
    display: flex;
    width: 800px;
    justify-content: center;
    margin-top: 580px;
    left: 20% ;
}
.auto div {
    border :2px solid #274393;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}
.auto div:not(:last-child) {
    margin-right: 40px;
}
#radio1:checked ~ .auto .auto-btn1 {
    background: #274393
    ;
}
#radio2:checked ~ .auto .auto-btn2 {
    background: #274393
    ;
}
#radio3:checked ~ .auto .auto-btn3 {
    background: #274393
    ;
}
#radio4:checked ~ .auto .auto-btn4 {
    background: #274393
    ;
}
#radio5:checked ~ .auto .auto-btn5 {
    background: #274393
    ;
}
.signin {
   margin-left: 6rem;
   margin-top: 3rem;
   display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:5rem;
    height: 100%;

}
.left h2 {
    margin-bottom: 1rem;
    color: #424142;
}
.left ul {
    margin-left: 50px;
    margin-bottom: 1rem;
    color: #424142;
}
.left a {
    color: #f8edfc;
}
.right img {
    width: 500px;
    height: 300px;
    border-radius: 10px;
}

 .signin-pat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:5rem;
    margin-left: 6rem;
    margin-top: 3rem;
    height: 100%;
 }
.left-pat img {
    border-radius: 10px;
}
.right-pat h2 {
    margin-bottom: 1rem;
    color: #424142;
}
.right-pat ul {
    margin-left: 50px;
    margin-bottom: 1rem;
    color: #424142;
}
.right-pat a {
    color: #f8edfc;
}




footer {
    background-color: rgb(46, 45, 45);
    height: auto;
   
  
    padding-top: 40px;
    color: #f8edfc;
}
.footer-list{
    display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.footer-list h3{
     font-size: 1.8rem;

}
.footer-list p {
    font-size: 14px;
    margin: 10px auto;
    line-height: 18px;

}
.social{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0 3rem 0;
}
.social li {
    margin: 0 10px;
}
.social a {
    color: #f8edfc;;
}
.social a i {
    font-size: 1.1rem;
    transition: all 0.3 ease 0s;
}
.social a:hover i {
    color: #274393;
}
.footer-bottom {
    background-color: rgb(71, 69, 69);
    
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span {
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
}
nav button {
    margin-left: 2rem;
}

@media screen and (max-width: 786px) {
   nav{
       
       height: 48px;
       justify-content: space-between;
       padding: 0 28px;
       
   }
   
  
  
   .uil-bars{
       display: inline;
       color :#274393;
       font-size: 24px;
   }
   .uil-multiply{
       position: absolute;
       top: 10px;
       right:24px;
       display: block;
       font-size: 24px;
       border-radius: 50%;

   }
   .uil-multiply:hover {
       
   }
   .nav-list {
       position: fixed;
       top: 0;
       right: -100%;
       background-color: #f8edfc;
       width: 40%;
       height: 100vh;
       padding: 24px 0 ;
       z-index: 100;
       transition: 0.5s;
       border-radius: 0 0 0 50%;
   }
   .nav_menu {
       display: flex;
       flex-direction: column;
   }
   .nav_item {
       margin: 2rem 0;
   }
   .show {
       right:0;
   }
}
.categories{
    display: none; /*masquer la liste */
  }
  
  .liste ul li:hover .categories{
    display: block;   /*afficher la liste en bloc quand la souris sur le boutton catégories*/
    position: absolute ;
    background:#f8edfc;
    border-radius: 10px;
    width:200px;
    margin-top:5px;
    padding: 2px;
  }
  
  .liste ul li:hover .categories ul li{
     margin: 0px -20px;
     padding: 3px;
  
  }
  
  .b{
    border-radius: 5;
    background: transparent; 
    color: #274393;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
  } 
  .b:hover{
    background-color:#f8edfc ;
    color: black;
    font-size: 16px;
    padding: 6px;
    opacity: 1;
    
  }
  