
.lists {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.dash-list a {
    display: flex;
    justify-content: space-around;
}
 .list{
    position: relative;
    background-color: white;
   padding-left: 45px;
   padding-right: 45px;
   padding-bottom: 10px;
   padding-top: 10px;
    
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0,0,0,0.08);
}
 .list .numbres{
    position: relative;
    font-weight: 800;
    font-size: 2.5rem;
    color: #274393;
}
 .list .cardname {
    color: #999;
    font-size: 1.1em;
    margin-top: 5px;


}
 .list .iconbx {
    font-size: 3.5em;
    color: #999;
}
.list:hover {
    background-color: #274393;
}
 .list:hover .iconbx 
 {
    color: white;
}
 .list:hover .numbres
 {
    color: white;
}
 .list:hover .cardname
 {
    color: white;
}
.list.is-show {
    background-color: #274393;
}
 .list.is-show .iconbx 
 {
    color: white;
}
 .list.is-show .numbres
 {
    color: white;
}
 .list.is-show .cardname
 {
    color: white;
}


.charts .chart {
    display: none;
}
.charts .chart.is-show {
    display: block;
}
.id-1 {
    width: 300px;
    height: 200px;
}
.grid {
    padding: 25px;
    display: grid;
    grid-template-columns: 200px 250px 200px;
    grid-template-rows: minmax(150px,auto);
     row-gap: 40px;
     column-gap: 140px;

}
.id-1 canvas {
   
    padding: 25px;
    box-shadow: 0 5px 10px rgb(144, 137, 250);
    background-color: white;
    color:  #274393;
    color: #010c2b;
}
.line {
     grid-column: 1  / 3;
     grid-row: 1 / 2;
     width: 700px;
     height: 350px;
}
.dounaght {
    grid-column: 3 / -1;
    width: 250px;
    height: 200px;
}
.bar {
    width: 700px;
    height: 350px;
}
.pie{
    grid-column: 3 / -1;
    width: 250px;
    height: 200px;
    margin-top: -6rem;
}



